{% extends 'main/edit.html' %}

{% block title %}
Personal Data
{% endblock %}

{% load crispy_forms_tags %}

    {% block header %}
        <h1 class="text-white" style="opacity: 0.8;">Personal Data</h1>
    {% endblock %}

{% block content %}

	<form method="post" action="/pd/" class="text-white">
        {% csrf_token %}
        
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.lastName|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.firstName|as_crispy_field }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.gender|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.dateOfBirth|as_crispy_field }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.telephone|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.email|as_crispy_field }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.familySituation|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.nationality|as_crispy_field }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.race|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.language|as_crispy_field }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.occupation|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.education|as_crispy_field }}
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
              {{ form.healthInsurance|as_crispy_field }}
            </div>
        </div>
        
	  	<button name="save" type="submit" class="btn btn-lg btn-block" style="background-image:linear-gradient(to left, transparent, #1f7a82 49%, #1f7a82 51%, transparent);"><div class="text-white" style="opacity:0.7;">Save</div></button>
	</form>

{% endblock %}